Repository dart-lang/core, pull requests merged in 2024-10, with the labels that each got.

#140 Fix the repository URL in `pubspec.yaml`
  pkgs/args/CHANGELOG.md
  pkgs/args/pubspec.yaml
Labels: package-args

#137 Merge `package:fixnum`
  .github/labeler.yml
  .github/workflows/fixnum.yaml
  README.md
  pkgs/fixnum/.gitignore
  pkgs/fixnum/AUTHORS
  pkgs/fixnum/CHANGELOG.md
  pkgs/fixnum/LICENSE
  pkgs/fixnum/README.md
  pkgs/fixnum/analysis_options.yaml
  pkgs/fixnum/lib/fixnum.dart
  pkgs/fixnum/lib/src/int32.dart
  pkgs/fixnum/lib/src/int64.dart
  pkgs/fixnum/lib/src/intx.dart
  pkgs/fixnum/lib/src/utilities.dart
  pkgs/fixnum/pubspec.yaml
  pkgs/fixnum/test/all_tests.dart
  pkgs/fixnum/test/int32_test.dart
  pkgs/fixnum/test/int64_test.dart
  pkgs/fixnum/test/int_64_vm_test.dart
Labels: skip-breaking-check

#135 Merge `package:crypto`
  .github/labeler.yml
  .github/workflows/crypto.yaml
  README.md
  pkgs/crypto/.gitignore
  pkgs/crypto/.test_config
  pkgs/crypto/AUTHORS
  pkgs/crypto/CHANGELOG.md
  pkgs/crypto/LICENSE
  pkgs/crypto/README.md
  pkgs/crypto/analysis_options.yaml
  pkgs/crypto/example/example.dart
  pkgs/crypto/lib/crypto.dart
  pkgs/crypto/lib/src/digest.dart
  pkgs/crypto/lib/src/digest_sink.dart
  pkgs/crypto/lib/src/hash.dart
  pkgs/crypto/lib/src/hash_sink.dart
  pkgs/crypto/lib/src/hmac.dart
  pkgs/crypto/lib/src/md5.dart
  pkgs/crypto/lib/src/sha1.dart
  pkgs/crypto/lib/src/sha256.dart
  pkgs/crypto/lib/src/sha512.dart
  pkgs/crypto/lib/src/sha512_fastsinks.dart
  pkgs/crypto/lib/src/sha512_slowsinks.dart
  pkgs/crypto/lib/src/utils.dart
  pkgs/crypto/pubspec.yaml
  pkgs/crypto/test/hmac_md5_test.dart
  pkgs/crypto/test/hmac_sha1_test.dart
  pkgs/crypto/test/hmac_sha256_test.dart
  pkgs/crypto/test/hmac_sha2_test.dart
  pkgs/crypto/test/sha1_test.dart
  pkgs/crypto/test/sha256_test.dart
  pkgs/crypto/test/sha512_test.dart
  pkgs/crypto/test/sha_monte_test.dart
  pkgs/crypto/test/utils.dart
Labels: skip-breaking-check

#134 Merge `package:convert`
  .github/labeler.yml
  .github/workflows/convert.yaml
  README.md
  pkgs/convert/.gitignore
  pkgs/convert/AUTHORS
  pkgs/convert/CHANGELOG.md
  pkgs/convert/LICENSE
  pkgs/convert/README.md
  pkgs/convert/analysis_options.yaml
  pkgs/convert/benchmark/fixed_datetime_formatter_benchmark.dart
  pkgs/convert/example/example.dart
  pkgs/convert/lib/convert.dart
  pkgs/convert/lib/src/accumulator_sink.dart
  pkgs/convert/lib/src/byte_accumulator_sink.dart
  pkgs/convert/lib/src/charcodes.dart
  pkgs/convert/lib/src/codepage.dart
  pkgs/convert/lib/src/fixed_datetime_formatter.dart
  pkgs/convert/lib/src/hex.dart
  pkgs/convert/lib/src/hex/decoder.dart
  pkgs/convert/lib/src/hex/encoder.dart
  pkgs/convert/lib/src/identity_codec.dart
  pkgs/convert/lib/src/percent.dart
  pkgs/convert/lib/src/percent/decoder.dart
  pkgs/convert/lib/src/percent/encoder.dart
  pkgs/convert/lib/src/string_accumulator_sink.dart
  pkgs/convert/lib/src/utils.dart
  pkgs/convert/pubspec.yaml
  pkgs/convert/test/accumulator_sink_test.dart
  pkgs/convert/test/byte_accumulator_sink_test.dart
  pkgs/convert/test/codepage_test.dart
  pkgs/convert/test/fixed_datetime_formatter_test.dart
  pkgs/convert/test/hex_test.dart
  pkgs/convert/test/identity_codec_test.dart
  pkgs/convert/test/percent_test.dart
  pkgs/convert/test/string_accumulator_sink_test.dart
Labels: skip-breaking-check

#131 Merge `package:characters`
  .github/labeler.yml
  .github/workflows/characters.yaml
  README.md
  pkgs/characters/.gitignore
  pkgs/characters/AUTHORS
  pkgs/characters/CHANGELOG.md
  pkgs/characters/LICENSE
  pkgs/characters/README.md
  pkgs/characters/analysis_options.yaml
  pkgs/characters/benchmark/benchmark.dart
  pkgs/characters/example/main.dart
  pkgs/characters/lib/characters.dart
  pkgs/characters/lib/src/characters.dart
  pkgs/characters/lib/src/characters_impl.dart
  pkgs/characters/lib/src/extensions.dart
  pkgs/characters/lib/src/grapheme_clusters/breaks.dart
  pkgs/characters/lib/src/grapheme_clusters/constants.dart
  pkgs/characters/lib/src/grapheme_clusters/table.dart
  pkgs/characters/pubspec.yaml
  pkgs/characters/test/characters_test.dart
  pkgs/characters/test/src/text_samples.dart
  pkgs/characters/test/src/unicode_grapheme_tests.dart
  pkgs/characters/test/src/unicode_tests.dart
  pkgs/characters/test/src/various_tests.dart
  pkgs/characters/third_party/Unicode_Consortium/GraphemeBreakProperty.txt
  pkgs/characters/third_party/Unicode_Consortium/GraphemeBreakTest.txt
  pkgs/characters/third_party/Unicode_Consortium/UNICODE_LICENSE.txt
  pkgs/characters/third_party/Unicode_Consortium/emoji_data.txt
  pkgs/characters/third_party/Unicode_Consortium/emoji_test.txt
  pkgs/characters/third_party/Wikipedia/License CC BY-SA 3.0.txt
  pkgs/characters/third_party/Wikipedia/hangul.txt
  pkgs/characters/tool/README.txt
  pkgs/characters/tool/benchmark.dart
  pkgs/characters/tool/bin/gentable.dart
  pkgs/characters/tool/bin/gentest.dart
  pkgs/characters/tool/generate.dart
  pkgs/characters/tool/src/args.dart
  pkgs/characters/tool/src/atsp.dart
  pkgs/characters/tool/src/automaton_builder.dart
  pkgs/characters/tool/src/data_files.dart
  pkgs/characters/tool/src/grapheme_category_loader.dart
  pkgs/characters/tool/src/indirect_table.dart
  pkgs/characters/tool/src/list_overlap.dart
  pkgs/characters/tool/src/shared.dart
  pkgs/characters/tool/src/string_literal_writer.dart
  pkgs/characters/tool/src/table_builder.dart
Labels: skip-breaking-check

#401 Merge `package:logging`
  .github/ISSUE_TEMPLATE/logging.md
  .github/labeler.yml
  .github/workflows/logging.yaml
  README.md
  pkgs/logging/.gitignore
  pkgs/logging/AUTHORS
  pkgs/logging/CHANGELOG.md
  pkgs/logging/LICENSE
  pkgs/logging/README.md
  pkgs/logging/analysis_options.yaml
  pkgs/logging/example/main.dart
  pkgs/logging/lib/logging.dart
  pkgs/logging/lib/src/level.dart
  pkgs/logging/lib/src/log_record.dart
  pkgs/logging/lib/src/logger.dart
  pkgs/logging/pubspec.yaml
  pkgs/logging/test/logging_test.dart
Labels: skip-breaking-check

#402 Merge `package:os_detect`
  .github/ISSUE_TEMPLATE/os_detect.md
  .github/labeler.yml
  .github/workflows/os_detect.yaml
  README.md
  pkgs/os_detect/.gitignore
  pkgs/os_detect/AUTHORS
  pkgs/os_detect/CHANGELOG.md
  pkgs/os_detect/LICENSE
  pkgs/os_detect/README.md
  pkgs/os_detect/analysis_options.yaml
  pkgs/os_detect/bin/os_detect.dart
  pkgs/os_detect/example/example.dart
  pkgs/os_detect/example/tree_shaking.dart
  pkgs/os_detect/lib/os_detect.dart
  pkgs/os_detect/lib/override.dart
  pkgs/os_detect/lib/src/os_kind.dart
  pkgs/os_detect/lib/src/os_override.dart
  pkgs/os_detect/lib/src/osid_html.dart
  pkgs/os_detect/lib/src/osid_io.dart
  pkgs/os_detect/lib/src/osid_unknown.dart
  pkgs/os_detect/pubspec.yaml
  pkgs/os_detect/test/osid_test.dart
Labels: skip-breaking-check

#403 Merge `package:path`
  .github/ISSUE_TEMPLATE/path.md
  .github/labeler.yml
  .github/workflows/path.yaml
  README.md
  pkgs/path/.gitignore
  pkgs/path/CHANGELOG.md
  pkgs/path/LICENSE
  pkgs/path/README.md
  pkgs/path/analysis_options.yaml
  pkgs/path/benchmark/benchmark.dart
  pkgs/path/example/example.dart
  pkgs/path/lib/path.dart
  pkgs/path/lib/src/characters.dart
  pkgs/path/lib/src/context.dart
  pkgs/path/lib/src/internal_style.dart
  pkgs/path/lib/src/parsed_path.dart
  pkgs/path/lib/src/path_exception.dart
  pkgs/path/lib/src/path_map.dart
  pkgs/path/lib/src/path_set.dart
  pkgs/path/lib/src/style.dart
  pkgs/path/lib/src/style/posix.dart
  pkgs/path/lib/src/style/url.dart
  pkgs/path/lib/src/style/windows.dart
  pkgs/path/lib/src/utils.dart
  pkgs/path/pubspec.yaml
  pkgs/path/test/browser_test.dart
  pkgs/path/test/io_test.dart
  pkgs/path/test/path_map_test.dart
  pkgs/path/test/path_set_test.dart
  pkgs/path/test/path_test.dart
  pkgs/path/test/posix_test.dart
  pkgs/path/test/relative_test.dart
  pkgs/path/test/url_test.dart
  pkgs/path/test/utils.dart
  pkgs/path/test/windows_test.dart
Labels: skip-breaking-check

#404 Merge `package:platform`
  .github/ISSUE_TEMPLATE/platform.md
  .github/labeler.yml
  .github/workflows/health.yaml
  .github/workflows/platform.yaml
  README.md
  pkgs/platform/.gitignore
  pkgs/platform/AUTHORS
  pkgs/platform/CHANGELOG.md
  pkgs/platform/LICENSE
  pkgs/platform/README.md
  pkgs/platform/analysis_options.yaml
  pkgs/platform/example/.gitignore
  pkgs/platform/example/README.md
  pkgs/platform/example/analysis_options.yaml
  pkgs/platform/example/bin/example.dart
  pkgs/platform/example/pubspec.yaml
  pkgs/platform/lib/platform.dart
  pkgs/platform/lib/src/interface/local_platform.dart
  pkgs/platform/lib/src/interface/platform.dart
  pkgs/platform/lib/src/testing/fake_platform.dart
  pkgs/platform/pubspec.yaml
  pkgs/platform/test/fake_platform_test.dart
  pkgs/platform/test/platform.json
Labels: skip-breaking-check

#405 Merge `package:typed_data`
  .github/ISSUE_TEMPLATE/typed_data.md
  .github/labeler.yml
  .github/workflows/typed_data.yaml
  README.md
  pkgs/typed_data/.gitignore
  pkgs/typed_data/AUTHORS
  pkgs/typed_data/CHANGELOG.md
  pkgs/typed_data/LICENSE
  pkgs/typed_data/README.md
  pkgs/typed_data/analysis_options.yaml
  pkgs/typed_data/lib/src/typed_buffer.dart
  pkgs/typed_data/lib/src/typed_queue.dart
  pkgs/typed_data/lib/typed_buffers.dart
  pkgs/typed_data/lib/typed_data.dart
  pkgs/typed_data/pubspec.yaml
  pkgs/typed_data/test/queue_test.dart
  pkgs/typed_data/test/typed_buffers_test.dart
  pkgs/typed_data/test/typed_buffers_vm_test.dart
Labels: skip-breaking-check

#406 update various repo metadata
  .github/ISSUE_TEMPLATE/async.md
  .github/ISSUE_TEMPLATE/characters.md
  .github/ISSUE_TEMPLATE/convert.md
  .github/ISSUE_TEMPLATE/crypto.md
  .github/ISSUE_TEMPLATE/fixnum.md
  .github/workflows/args.yaml
  pkgs/characters/pubspec.yaml
Labels: skip-changelog-check, package:characters

#577 Update tables to Unicode 16.0.0.
  pkgs/characters/CHANGELOG.md
  pkgs/characters/README.md
  pkgs/characters/lib/src/characters.dart
  pkgs/characters/lib/src/characters_impl.dart
  pkgs/characters/lib/src/grapheme_clusters/table.dart
  pkgs/characters/pubspec.yaml
  pkgs/characters/test/characters_test.dart
  pkgs/characters/test/src/unicode_grapheme_tests.dart
  pkgs/characters/third_party/Unicode_Consortium/GraphemeBreakProperty.txt
  pkgs/characters/third_party/Unicode_Consortium/GraphemeBreakTest.txt
  pkgs/characters/third_party/Unicode_Consortium/UNICODE_LICENSE.txt
  pkgs/characters/third_party/Unicode_Consortium/emoji_data.txt
  pkgs/characters/third_party/Unicode_Consortium/emoji_test.txt
  pkgs/characters/tool/README.txt
  pkgs/characters/tool/benchmark.dart
  pkgs/characters/tool/bin/generate_tables.dart
  pkgs/characters/tool/bin/generate_tests.dart
  pkgs/characters/tool/generate.dart
  pkgs/characters/tool/src/args.dart
  pkgs/characters/tool/src/data_files.dart
  pkgs/characters/tool/src/indirect_table.dart
  pkgs/characters/tool/src/shared.dart
Labels: package:characters

#713 os_detect: bump lints and SDK versions
  .github/workflows/os_detect.yaml
  pkgs/args/analysis_options.yaml
  pkgs/args/pubspec.yaml
  pkgs/async/analysis_options.yaml
  pkgs/collection/analysis_options.yaml
  pkgs/collection/pubspec.yaml
  pkgs/convert/analysis_options.yaml
  pkgs/crypto/analysis_options.yaml
  pkgs/fixnum/analysis_options.yaml
  pkgs/logging/analysis_options.yaml
  pkgs/logging/pubspec.yaml
  pkgs/os_detect/CHANGELOG.md
  pkgs/os_detect/analysis_options.yaml
  pkgs/os_detect/bin/os_detect.dart
  pkgs/os_detect/lib/os_detect.dart
  pkgs/os_detect/pubspec.yaml
  pkgs/path/analysis_options.yaml
  pkgs/platform/example/pubspec.yaml
  pkgs/typed_data/analysis_options.yaml
Labels: package:args, skip-changelog-check, package:fixnum, package:crypto, package:convert, package:async, package:logging, package:os_detect, package:path, package:platform, package:typed_data, package:collection
