Repository dart-lang/core, pull requests merged in 2024-11, with the labels that each got.

#715 Introduce `IterableMapEntryExtension` for use with `Map.entries`.
  pkgs/collection/CHANGELOG.md
  pkgs/collection/lib/src/iterable_extensions.dart
  pkgs/collection/pubspec.yaml
  pkgs/collection/test/extensions_test.dart
Labels: package:collection

#717 add a basic benchmark for DeepCollectionEquality
  pkgs/collection/.gitignore
  pkgs/collection/benchmark/deep_collection_equality.dart
  pkgs/collection/pubspec.yaml
Labels: skip-changelog-check, package:collection

#718 Use `values` iterator and `update` in map equality/hash
  pkgs/collection/CHANGELOG.md
  pkgs/collection/lib/src/equality.dart
Labels: package:collection

#720 add links to the package issue trackers
  .github/ISSUE_TEMPLATE/collection.md
  .github/ISSUE_TEMPLATE/logging.md
  .github/ISSUE_TEMPLATE/os_detect.md
  .github/ISSUE_TEMPLATE/path.md
  .github/ISSUE_TEMPLATE/platform.md
  .github/ISSUE_TEMPLATE/typed_data.md
  .github/labeler.yml
  README.md
  pkgs/args/pubspec.yaml
  pkgs/async/pubspec.yaml
  pkgs/characters/pubspec.yaml
  pkgs/collection/pubspec.yaml
  pkgs/convert/pubspec.yaml
  pkgs/crypto/pubspec.yaml
  pkgs/fixnum/pubspec.yaml
  pkgs/logging/pubspec.yaml
  pkgs/os_detect/pubspec.yaml
  pkgs/path/pubspec.yaml
  pkgs/typed_data/pubspec.yaml
Labels: package:args, skip-changelog-check, package:fixnum, package:crypto, package:convert, package:async, package:characters, package:logging, package:os_detect, package:path, package:typed_data, package:collection

#719 Implement full Unicode 16.0.0 extended grapheme breaking.
  pkgs/characters/README.md
  pkgs/characters/analysis_options.yaml
  pkgs/characters/benchmark/benchmark.dart
  pkgs/characters/lib/characters.dart
  pkgs/characters/lib/src/characters.dart
  pkgs/characters/lib/src/characters_impl.dart
  pkgs/characters/lib/src/grapheme_clusters/breaks.dart
  pkgs/characters/lib/src/grapheme_clusters/constants.dart
  pkgs/characters/lib/src/grapheme_clusters/table.dart
  pkgs/characters/pubspec.yaml
  pkgs/characters/test/breaks_test.dart
  pkgs/characters/test/characters_test.dart
  pkgs/characters/test/src/equiv.dart
  pkgs/characters/test/src/text_samples.dart
  pkgs/characters/test/src/unicode_grapheme_tests.dart
  pkgs/characters/test/src/unicode_tests.dart
  pkgs/characters/third_party/Unicode_Consortium/DerivedCoreProperties.txt
  pkgs/characters/tool/benchmark.dart
  pkgs/characters/tool/bin/generate_tables.dart
  pkgs/characters/tool/bin/generate_tests.dart
  pkgs/characters/tool/generate.dart
  pkgs/characters/tool/src/args.dart
  pkgs/characters/tool/src/atsp.dart
  pkgs/characters/tool/src/automaton_builder.dart
  pkgs/characters/tool/src/data_files.dart
  pkgs/characters/tool/src/debug_names.dart
  pkgs/characters/tool/src/graph.dart
  pkgs/characters/tool/src/grapheme_category_loader.dart
  pkgs/characters/tool/src/indirect_table.dart
  pkgs/characters/tool/src/list_overlap.dart
  pkgs/characters/tool/src/shared.dart
  pkgs/characters/tool/src/string_literal_writer.dart
  pkgs/characters/tool/src/table_builder.dart
Labels: skip-changelog-check, package:characters
