Repository dart-lang/core, pull requests merged in 2024-12, with the labels that each got.

#730 update the pubspec version of package:collection
  pkgs/collection/CHANGELOG.md
  pkgs/collection/pubspec.yaml
Labels: package:collection

#578 Merge `package:lints`
  .github/ISSUE_TEMPLATE/lints.md
  pkgs/lints/.github/ISSUE_TEMPLATE/config.yml
  pkgs/lints/.github/ISSUE_TEMPLATE/lint-propoposal.md
  pkgs/lints/.github/dependabot.yaml
  pkgs/lints/.github/workflows/publish.yaml
  pkgs/lints/.github/workflows/validate.yml
  pkgs/lints/.gitignore
  pkgs/lints/CHANGELOG.md
  pkgs/lints/LICENSE
  pkgs/lints/README.md
  pkgs/lints/example/README.md
  pkgs/lints/example/analysis_options.yaml
  pkgs/lints/example/pubspec.yaml
  pkgs/lints/lib/core.yaml
  pkgs/lints/lib/recommended.yaml
  pkgs/lints/pubspec.yaml
  pkgs/lints/rules.md
  pkgs/lints/tool/README.md
  pkgs/lints/tool/analysis_options.yaml
  pkgs/lints/tool/gen_docs.dart
  pkgs/lints/tool/rules.json
  pkgs/lints/tool/validate_lib.dart
Labels: skip-breaking-check, type-infra

#736 `package:lints` fixes
  .github/ISSUE_TEMPLATE/lints.md
  .github/labeler.yml
  .github/workflows/lints.yaml
  README.md
  pkgs/lints/.github/ISSUE_TEMPLATE/config.yml
  pkgs/lints/.github/ISSUE_TEMPLATE/lint-propoposal.md
  pkgs/lints/.github/dependabot.yaml
  pkgs/lints/.github/workflows/publish.yaml
  pkgs/lints/CHANGELOG.md
  pkgs/lints/README.md
Labels: type-infra
