Repository dart-lang/core, pull requests merged in 2025-02, with the labels that each got.

#857 normalize the workflow files
  .github/workflows/args.yaml
  .github/workflows/async.yaml
  .github/workflows/characters.yaml
  .github/workflows/collection.yaml
  .github/workflows/convert.yaml
  .github/workflows/crypto.yaml
  .github/workflows/fixnum.yaml
  .github/workflows/lints.yaml
  .github/workflows/logging.yaml
  .github/workflows/os_detect.yaml
  .github/workflows/path.yaml
  .github/workflows/platform.yaml
  .github/workflows/typed_data.yaml
Labels: type-infra

#858 Revert "Use `values` iterator and `update` in map equality/hash (#718)"
  pkgs/collection/CHANGELOG.md
  pkgs/collection/lib/src/equality.dart
Labels: skip-breaking-check, package:collection

#863 add unnecessary_underscores to recommended
  .github/workflows/lints.yaml
  pkgs/lints/CHANGELOG.md
  pkgs/lints/lib/recommended.yaml
  pkgs/lints/pubspec.yaml
  pkgs/lints/rules.md
  pkgs/lints/tool/gen_docs.dart
  pkgs/lints/tool/rules.json
  pkgs/lints/tool/validate_lib.dart
Labels: type-infra, package:lints

#864 add strict_top_level_inference to the core lint set
  pkgs/lints/CHANGELOG.md
  pkgs/lints/lib/core.yaml
  pkgs/lints/rules.md
Labels: package:lints

#867 [package:lints] fix the changelog
  pkgs/lints/CHANGELOG.md
Labels: package:lints

#866 Adjust the implements clause of IntX
  pkgs/fixnum/CHANGELOG.md
  pkgs/fixnum/lib/src/intx.dart
  pkgs/fixnum/pubspec.yaml
Labels: skip-breaking-check, package:fixnum
