Repository dart-lang/core, pull requests merged in 2025-05, with the labels that each got.

#887 update the issue templates for package:lints
  .github/ISSUE_TEMPLATE/lints.md
  .github/ISSUE_TEMPLATE/lints_propoposal.md
  pkgs/lints/README.md
Labels: type-infra, skip-changelog-check, package:lints

#890 [path] Fix test race condition caused by changing Directory.current
  pkgs/path/test/io_test.dart
Labels: package:path

#891 Remove munificent as owner of args in CODEOWNERS
  .github/CODEOWNERS
Labels: type-infra
