Repository dart-lang/core, pull requests merged in 2025-04, with the labels that each got.

#875 [collection] explicitly make BoolList abstract interface
  pkgs/collection/CHANGELOG.md
  pkgs/collection/lib/src/boollist.dart
  pkgs/collection/pubspec.yaml
Labels: autosubmit, package:collection

#734 Adds `[Heap]PriorityQueue.of` constructor.
  pkgs/collection/CHANGELOG.md
  pkgs/collection/lib/src/priority_queue.dart
  pkgs/collection/test/priority_queue_test.dart
Labels: package:collection

#876 Fix StreamGroup.broadcast() close() not completing when streams close.
  pkgs/async/CHANGELOG.md
  pkgs/async/lib/src/stream_group.dart
  pkgs/async/pubspec.yaml
  pkgs/async/test/stream_group_test.dart
Labels: package:async

#878 prep to publish 6.0.0 of package:lints
  .github/workflows/health.yaml
  .github/workflows/lints.yaml
  .github/workflows/publish.yaml
  pkgs/lints/CHANGELOG.md
  pkgs/lints/README.md
  pkgs/lints/pubspec.yaml
Labels: skip-breaking-check, type-infra, package:lints, publish-ignore-warnings

#881 Add `no_response.yaml` workflow
  .github/workflows/no-response.yml
Labels: type-infra

#882 Fix doc comment issues reported by pub.dev
  pkgs/args/README.md
  pkgs/async/lib/src/stream_group.dart
  pkgs/fixnum/lib/src/int32.dart
  pkgs/fixnum/lib/src/int64.dart
Labels: package:args, skip-changelog-check, package:fixnum, package:async
