Repository dart-lang/core, pull requests merged in 2025-01, with the labels that each got.

#735 Update package:collection for the new `strict_top_level_inference` lint
  pkgs/collection/CHANGELOG.md
  pkgs/collection/README.md
  pkgs/collection/lib/src/unmodifiable_wrappers.dart
  pkgs/collection/test/extensions_test.dart
Labels: package:collection

#846 fix a line break issue in the package table
  README.md
  pkgs/lints/pubspec.yaml
Labels: skip-changelog-check, package:lints

#849 update lint issue templates
  .github/ISSUE_TEMPLATE/lints_propoposal.md
  pkgs/lints/README.md
Labels: type-infra, skip-changelog-check, package:lints

#851 [path] fix tests to compile/run with wasm
  pkgs/path/CHANGELOG.md
  pkgs/path/pubspec.yaml
  pkgs/path/test/browser_test.dart
Labels: package:path

#850 [os_detect] move to pkg:web, prepare publish
  .github/workflows/os_detect.yaml
  pkgs/os_detect/CHANGELOG.md
  pkgs/os_detect/lib/src/osid_html.dart
  pkgs/os_detect/pubspec.yaml
Labels: type-infra, package:os_detect

#852 Remove sorting of allowedHelp maps
  pkgs/args/CHANGELOG.md
  pkgs/args/lib/src/arg_parser.dart
  pkgs/args/lib/src/usage.dart
  pkgs/args/test/usage_test.dart
Labels: package:args

#854 update the topics section of several pubspecs
  pkgs/collection/pubspec.yaml
  pkgs/crypto/pubspec.yaml
  pkgs/logging/pubspec.yaml
  pkgs/path/pubspec.yaml
Labels: skip-changelog-check, package:crypto, package:logging, package:path, package:collection

#855 [fix,async] exception in async _CancelOnErrorSubscriptionWrapper.onError
  pkgs/async/CHANGELOG.md
  pkgs/async/lib/src/result/error.dart
  pkgs/async/lib/src/subscription_stream.dart
  pkgs/async/pubspec.yaml
  pkgs/async/test/result/result_test.dart
  pkgs/async/test/subscription_stream_test.dart
Labels: package:async
