Repository dart-lang/core, pull requests merged in 2025-03, with the labels that each got.

#870 Update publish.yaml
  .github/workflows/publish.yaml
Labels: type-infra

#871 Check for mandatory when using option
  pkgs/args/CHANGELOG.md
  pkgs/args/lib/src/arg_results.dart
  pkgs/args/pubspec.yaml
  pkgs/args/test/parse_test.dart
Labels: package:args

#873 Make URL strategy better at recognizing URLs.
  pkgs/path/CHANGELOG.md
  pkgs/path/lib/src/characters.dart
  pkgs/path/lib/src/context.dart
  pkgs/path/lib/src/internal_style.dart
  pkgs/path/lib/src/parsed_path.dart
  pkgs/path/lib/src/style/url.dart
  pkgs/path/lib/src/utils.dart
  pkgs/path/test/url_test.dart
  pkgs/path/test/windows_test.dart
Labels: package:path
